* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    position: relative;
    margin: 0;
    padding-bottom: 100px;
    background: url(/img/Amazing-Pokemon-Background-Wallpaper.jpg) no-repeat center center fixed;
    background-size: cover;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4rem;
}


/*
MEDIA QUERYs
smaller than or equal to 768 px (smartphones)
larger than 768 px (small devices, tablets)
larger than 992 px (medium devices)
larger than 1200px (large devices)
*/
